#search-form {
    display: flex;
    justify-content: center;
}
#search-bar {
    margin: 10px;
    padding: 10px;
   width: 25%;
}

#search-button {
    width: 5%;
    margin: 10px;
    padding: 10px;
    color: white;
    background-color: #885df1;
    border: 1px solid #885df1;
}

.block {
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    border: 3px solid #885df1;
    border-radius: 35px;
    max-width: 740px;
    min-width: 550px;
    background-image: url(https://images.squarespace-cdn.com/content/v1/5c702bc465019f9573ec4c2b/1630094368745-GB8NVYEVVHB2UKX8Y3FU/final+with+character+in+window.gif?format=750w);
    box-shadow: 5px 10px #060636;
}

h3 {
    margin: 0;
    padding: 10px;
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    color: white;
    text-align: left;
}

h1 {
    margin: 0;
    padding: 10px;
    font-family: 'Press Start 2P', cursive;
    font-size: 50px;
    color: white;
    text-align: left;
}

h2, #current-time {
    margin: 0;
    padding: 10px;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    color: black;
    text-align: right;
    font-weight: bold;
}

p, #current-date {
    margin: 0;
    padding: 10px;
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;
    color: black;
    text-align: right;
}

ul {
    list-style: none;
    margin: 0;
    padding:10px;
    text-align: left;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    color: black;

}

.next-forecast {
    margin: 0;
    padding: 10px;
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;
    color: black;
    text-align: right;
}

#youtube-audio {
    margin: 0;
    padding:10px;
    text-align: right;
}

#weather-img {
    transform: scaleX(-1);
    margin: 0;
    padding: 10px;
}

#description {
    color: white;
    font-size: 20px;
}

.author {
    padding-top: 10px;
    display: block;
    text-align: center;
}
